page-aerogenerador {
  h2{
    margin-top: -1rem;
  }
  //Estilo de margen para Aerogenerador.html
  .border_col{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #B4B4B4;
  }
  align-items: center !important;

  //alienación del g´rafico
}
#grafico_e{
  margin-top: -29px !important;
}
.titulo_a{
  font-size: 11px !important;
  text-align: center !important;
  font-family: Roboto !important;
  color: #838383 !important;
  //font-weight: bold !important;
}
.primer_center{
  text-align: center !important;
}

.porcentaje_valor{
  color: #838383;
  font-size: 20px;
}

//Mover arriba el contenido, para así ajustar las areas.
.scroll-content{
  padding: 0px !important;
  padding-top: 1px !important;
  background-color: #fff;
}
// Mover el d3 pie
#pieChart{
  top: -20px;
}


.numero_mwh{
  font-size: 34px;
  font-family: Roboto !important;
  color: black !important;
}

#espacio_pie{
  margin-top: -50px !important;
  margin-bottom: -75px !important;
}
