grafico {

}
//Alienación de tooltip
.letra_D{
  text-align: center;
  vertical-align: middle !important;
  line-height: 12px !important;
}
//Estilo de la linea del puntero
.line {fill: none;stroke: #729fb5;stroke-width: 2px;}
.line2 {
  fill: none;
  stroke:rgb(222, 156, 82);
  stroke-width: 1.5px;
  stroke-dasharray: 2;
}

//Color de las lineas tanto en los gráficos de
.grid > .tick > line{
  color: #B4B4B4;
}

.grid > g >text{

  font-weight: bold;
  font-family: Roboto;
  color: #B4B4B4;

}
 g.axis.axis--x g.tick text{
   font-weight: bold;
   font-family: Roboto;
   color: #B4B4B4;
 }
