page-energia {
  .espacio_grid{
    position: absolute !important;
    margin-bottom: -20px !important;

  }
  .margen_botton{
    padding-top: 13px !important;
  }

}
//margen de la sepación de lineas
.primera_columna{
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #B4B4B4;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #B4B4B4;
}

.primer_center{
  text-align: center;
}
.nav-link:hover{
  color: #838383 !important;
}
.nav-link.active{
  color: #616161 !important;
  border-bottom: 2px solid rgb(255, 171, 0) !important;
}

.titulo{
  color:#4d5e67;
}
.titulo_w{
  color:#464f55;
}
.dato{
  color:#313c41;
}
/*
.row{

  margin-top: 20px;

}

Mover arriba el contenido del energía, para así ajustar las areas.
.scroll-content{
  padding-top: 0px !important;
}

//Mover la fila de actual, posible y utilización para ajustar el espacio de area.
.espacio_row{
  margin-top: 0px !important;
  padding-bottom: 0px !important;
}*/

.titulo_left{
  font-family: Roboto !important;
  //text-align: left !important;
  color: #838383 !important;
  font-weight: 500 !important;
  font-size: 16px !important;
  padding-left: 15px !important;
}


.tab-button-text{
  font-size: 13px !important;
}

//estilo mas ajustado para números
.ajuste_espacio{
  margin-bottom: -17px !important;
}

.ajuste_mwh{
  margin-top: -8px !important;
}

//Los card o panel width
.card{
  width: auto !important;
  margin-left: -2px !important;
  margin-right: -2px !important;
  margin-top: 0px !important;
  //-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.content-ios,
.content-md{
  color: #fff !important;
}

.card-header-md {
    padding: 7px !important;
}
.margen_botton{
  padding-top: 13px !important;
}
