page-wtg {

}
//Color de KPIs
.titulo_c{
  color: #FCB415;
  font-size: smaller;
}
//Color de fecha del kpis
.titulo_fecha{
  font-size: smaller;
}

//Margen de espacio para disminuir el espacio del gráfico los datos
.espacio_div{
  margin-top: -10px;
}

.espacio_correcto{
  margin-top: -50px;
}
