page-wtg {
  .ajuste_espacio2{
    margin-top: 20px !important;

  }
  //Margen para los números KMh y RPM
  .margen_data{
    margin-top: -1rem;
  }
  //Margen de espacio para disminuir el espacio del gráfico los datos
  .espacio_div{
    margin-top: -10px;
    margin-bottom: -21px;
  }
}

//Color de KPIs
.titulo_c{
  color: #FCB415;
  font-size: smaller;
  margin-bottom: -14px;
}
//Color de fecha del kpis
.titulo_fecha{
  font-size: 14px;
}

.espacio_correcto{
  margin-top: -50px;
}

// center_kpi es ajuste del espacio
.center_kpi{

  margin-top: 0px;
  margin-bottom: 30px;

}

//Fuente del porcentaje del wtg
.pocentaje_wtg{
  font-size: 14px;
  color: #838383;
  font-family: Roboto;
  font-weight: 400;
}
